@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  color: #CCD6F6;
}

body {
  width: 100%;
  height: 100%;
  background-color: #0A192F;
}

#app {
  height: 100vh;
}

#app .pre {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  place-items: center;
  font-size: 40px;
  font-weight: 800;
}

#app .home {
  height: 100vh;
  position: relative;
}

#app .home .container {
  padding: 20px;
  text-align: center;
  position: relative;
}

#app .home .container .mode-modal {
  z-index: 2;
  position: absolute;
  top: 200px;
  border-radius: 4px;
  background-color: #172A45;
  width: 90%;
  padding: 20px 20px 30px;
}

#app .home .container .mode-modal .closebtn {
  font-size: 20px;
  position: absolute;
  top: 20px;
  right: 20px;
}

#app .home .container .mode-modal .closebtn i {
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}

#app .home .container .mode-modal .closebtn i:hover {
  color: #3cefff;
}

#app .home .container .mode-modal .categ {
  margin-top: 40px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
}

#app .home .container .mode-modal .categ > div {
  position: relative;
  border: 3px solid #0A192F;
  padding: 50px 20px;
  border-radius: 3px;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

#app .home .container .mode-modal .categ > div i {
  color: #3cefff;
  position: absolute;
  top: 10px;
  right: 10px;
}

#app .home .container .mode-modal .categ > div:hover {
  background-color: #0A192F;
}

#app .home .container .brand {
  margin-top: 25vh;
  font-size: 40px;
}

#app .home .container .btns {
  margin: 130px 0 30px 0;
  position: relative;
}

#app .home .container .btns .start {
  text-align: center;
}

#app .home .container .btns .start img {
  border-radius: 50%;
}

#app .home .container .btns .modes button {
  margin-top: 20px;
  z-index: 1;
  position: relative;
  font-size: 20px;
  border-radius: 3px;
  font-family: inherit;
  color: white;
  padding: 15px 20px;
  outline: none;
  border: none;
  background-color: #2d3058;
  overflow: hidden;
  -webkit-transition: color 0.4s ease-in-out;
  transition: color 0.4s ease-in-out;
}

#app .home .container .btns .modes button::before {
  content: '';
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: #3cefff;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
          transform: translate3d(-50%, -50%, 0) scale3d(0, 0, 0);
  -webkit-transition: -webkit-transform 0.45s ease-in-out;
  transition: -webkit-transform 0.45s ease-in-out;
  transition: transform 0.45s ease-in-out;
  transition: transform 0.45s ease-in-out, -webkit-transform 0.45s ease-in-out;
}

#app .home .container .btns .modes button:hover {
  cursor: pointer;
  color: #161616;
}

#app .home .container .btns .modes button:hover::before {
  -webkit-transform: translate3d(-50%, -50%, 0) scale3d(15, 15, 15);
          transform: translate3d(-50%, -50%, 0) scale3d(15, 15, 15);
}

#app .home .container .btns .built {
  position: absolute;
  bottom: -205px;
  left: 50%;
  margin-left: -80px;
  font-size: 12px;
  margin-bottom: 20px;
}

#app .game {
  height: 100vh;
  color: #fff;
}

#app .game .container {
  padding: 20px;
  height: 100vh;
  position: relative;
  text-align: center;
}

#app .game .container .overmodal {
  z-index: 2;
  position: absolute;
  top: 170px;
  border-radius: 4px;
  background-color: #172A45;
  width: 90%;
  padding: 20px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

#app .game .container .overmodal .option {
  margin-top: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

#app .game .container .timer {
  color: #fff;
  font-size: 20px;
  position: absolute;
  top: 40px;
  left: 20px;
}

#app .game .container .points {
  color: #fff;
  font-size: 20px;
  position: absolute;
  top: 40px;
  right: 20px;
}

#app .game .container .problem {
  margin-top: 200px;
  color: #fff;
  font-size: 50px;
  font-weight: 800;
}

#app .game .container .btns {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
  position: absolute;
  width: 90%;
  bottom: 50px;
}

#app .game .container .btns > div {
  text-align: center;
  border-radius: 10px;
  background-color: #fff;
  border: 4px solid #fff;
  outline: 0;
}

#app .game .container .correct:focus {
  border: 4px solid #5CBC7D;
}

#app .game .container .wrong:focus {
  border: 4px solid #C84855;
}
/*# sourceMappingURL=index.css.map */